body {
    text-align: center;
}

#canvas-container {
    width: 800px;
    height: 500px;
    background-color: #DEB887;
    border: 3px solid #DAA520;
}

#timer {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #F5DEB3;
}

canvas {
    width: 800px;
    height: 500px;
}

#player-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 3px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 1.5px solid #DAA520;
}

#computer-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 1.5px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 3px solid #DAA520;
}


/* ------- ARCHIVE ------- */
/* .red-triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid red;
}

.red-triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
}

.red-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.red-square {
    width: 20px;
    height: 20px;
    background-color: red;
}

.blue-triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid blue;
}

.blue-triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid blue;
}

.blue-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
}

.blue-square {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.green-triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid green;
}

.green-triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid green;
}

.green-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.green-square {
    width: 20px;
    height: 20px;
    background-color: green;
}

.yellow-triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid yellow;
}

.yellow-triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid yellow;
}

.yellow-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}

.yellow-square {
    width: 20px;
    height: 20px;
    background-color: yellow;
} */