body {
    text-align: center;
    background-color: #BCBCBC;
    font-family: 'Odibee Sans', cursive;
}

#canvas-container {
    width: 800px;
    height: 500px;
    background-color: #DEB887;
    border: 3px solid #DAA520;
}

#timer {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #F5DEB3;
    border-top: 1.5px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 3px solid #DAA520;
}

canvas {
    width: 800px;
    height: 500px;
}

#player-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 3px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 1.5px solid #DAA520;
}

#game-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#computer-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 1.5px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 3px solid #DAA520;
}

#second-canvas {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
}

#third-canvas {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
}

#start-button {
    font-family: inherit;
}

#play-again {
    font-family: inherit;
}