body {
    text-align: center;
}

#canvas-container {
    width: 800px;
    height: 500px;
    background-color: #DEB887;
    border: 3px solid #DAA520;
}

#timer {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #F5DEB3;
}

canvas {
    width: 800px;
    height: 500px;
}

#player-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 3px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 1.5px solid #DAA520;
}

#computer-pattern {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
    border-top: 1.5px solid #DAA520;
    border-left: 3px solid #DAA520;
    border-right: 3px solid #DAA520;
    border-bottom: 3px solid #DAA520;
}

#second-canvas {
    width: 800px;
    height: 150px;
    background-color: #8B4513;
}